# VSCode settings should be ignored
.vscode

# ignore our samples (for now)
samples/*

# Ignore object files and executables
*.o
sinx86

# Also ignore our constexpr evaluation files for the time being
compile/compile_util/evaluate_constexpr.h

# ignore the struct.cpp file until we have more functions for structs
compile/struct.cpp

# Visual Studio files
*.sln
Debug/*
*.exe
*.vcxproj*
.vs/*
x64/*
*.obj
