# VSCode settings should be ignored
.vscode

# ignore our samples and assembly files (for now)
*.s

# ignore the notes folder
notes/*

# also ignore SIN build file and folder
build
bin/*

# Ignore object files and executables
*.o
sinx86
a.out

# ignore the struct.cpp file until we have more functions for structs
compile/struct.cpp

# ignore main.cpp on this branch
main.cpp

# Visual Studio files
*.sln
Debug/*
*.exe
*.vcxproj*
.vs/*
x64/*
*.obj
*.plist
